{% extends "base.twig" %}

{% block main %}
	<main class="bel-main">
            <div class="bel-main-w">
                <div class="bel-main-i">
                    <section class="bel-section _events-hero">
                        <div class="bel-section-w">
                            <div class="bel-section-i">
                                <div class="bel-hero _events">
                                    <div class="bel-hero-w">
                                        <div class="bel-hero-i">
                                            <div class="bel-image _hero-events">
                                                <div class="bel-image-w">
                                                    <div class="bel-image-i">

                                                        <img src="{{ theme.uri }}/assets_2/dist/assets/image/hero-events.png" alt="">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bel-hero-i">
                                            <div class="bel-button _medium _hero-events">
                                                <div class="bel-button-w">
                                                    <div class="bel-button-i">

                                                        <a href="#events">Подробнее</a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bel-text _hero-events">
                                            <div class="bel-text-w">
                                                <div class="bel-text-i">
                                                    <p>На этой странице можно найти фотоотчеты
                                                        с самых ярких событий: съёмки, концерты и т.д.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="bel-main-i">
                    <section id="events" class="bel-section _events-gallery">
                        <div class="bel-section-w">
                            <div class="bel-section-i">
                                <div class="bel-heading _section _light">
                                    <div class="bel-heading-w">
                                        <div class="bel-heading-i">

                                            <h1>События</h1>

                                        </div>
                                    </div>
                                </div>

                                <!-- # -->
                                <div class="bel-heading _light _gallery">
                                    <div class="bel-heading-w">
                                        <div class="bel-heading-i">

                                            <h2>«29 января 2022. Crocus City Hall. Bel Suono. 10 лет»</h2>

                                        </div>
                                    </div>
                                </div>
                                <div class="bel-gallery _video _alt">
                                    <div class="bel-gallery-w">

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-1.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-1.jpg" alt="">
                                            </a>
                                        </div>
                                         <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-2.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-2.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-3.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-3.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-4.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-4.jpg" alt="">
                                            </a>
                                        </div>                                        
                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-6.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-6.jpg" alt="">
                                            </a>
                                        </div>                                        
                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-8.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-8.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-9.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-9.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-10.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-10.jpg" alt="">
                                            </a>
                                        </div>
                                         <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-11.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-11.jpg" alt="">
                                            </a>
                                        </div>
                                         <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-12.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-12.jpg" alt="">
                                            </a>
                                        </div>
                                         <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-13.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-13.jpg" alt="">
                                            </a>
                                        </div>
                                         <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-14.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-14.jpg" alt="">
                                            </a>
                                        </div>
                                         <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-15.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-15.jpg" alt="">
                                            </a>
                                        </div>                                        
                                         <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-17.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-17.jpg" alt="">
                                            </a>
                                        </div>
                                         <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-18.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-18.jpg" alt="">
                                            </a>
                                        </div>                                         
                                         <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-20.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-20.jpg" alt="">
                                            </a>
                                        </div>
                                         <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-21.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-21.jpg" alt="">
                                            </a>
                                        </div> 
                                         <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-24.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-24.jpg" alt="">
                                            </a>
                                        </div>
                                         <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-25.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/11/1-25.jpg" alt="">
                                            </a>
                                        </div>
                                        
                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                                <!-- # -->

                                 <!-- # -->
                                <div class="bel-heading _light _gallery">
                                    <div class="bel-heading-w">
                                        <div class="bel-heading-i">

                                            <h2>Съёмки «Калинка-Малинка» (Bel Suono & Ансамбль им. А. В. Александрова)
                                                </h2>

                                        </div>
                                    </div>
                                </div>
                                <div class="bel-gallery _video _alt">
                                    <div class="bel-gallery-w">

                                        <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/1.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/1.jpg" alt="">
                                            </a>
                                        </div>
                                         <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/2.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/2.jpg" alt="">
                                            </a>
                                        </div>
                                         <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/3.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/3.jpg" alt="">
                                            </a>
                                        </div>
                                         <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/4.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/4.jpg" alt="">
                                            </a>
                                        </div>
                                         <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/6.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/6.jpg" alt="">
                                            </a>
                                        </div>
                                         <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/7.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/7.jpg" alt="">
                                            </a>
                                        </div>
                                         <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/8.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/8.jpg" alt="">
                                            </a>
                                        </div>
                                         <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/9.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/9.jpg" alt="">
                                            </a>
                                        </div>
                                         <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/10.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/10.jpg" alt="">
                                            </a>
                                        </div>
                                         <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/11.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/11.jpg" alt="">
                                            </a>
                                        </div>
                                         <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/12.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/12.jpg" alt="">
                                            </a>
                                        </div>
                                         <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/13.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/13.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/14.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/14.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/15.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/15.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/16.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/16.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/17.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/17.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                                <!-- # -->

                                 <!-- # -->
                                <div class="bel-heading _light _gallery">
                                    <div class="bel-heading-w">
                                        <div class="bel-heading-i">

                                            <h2>Съёмки «Осень»
                                                </h2>

                                        </div>
                                    </div>
                                </div>
                                <div class="bel-gallery _video _alt">
                                    <div class="bel-gallery-w">

                                        <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/1-1.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/1-1.jpg" alt="">
                                            </a>
                                        </div>
                                         <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/2-1.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/2-1.jpg" alt="">
                                            </a>
                                        </div>
                                         <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/3-1.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/3-1.jpg" alt="">
                                            </a>
                                        </div>
                                         <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/4.1.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/4.1.jpg" alt="">
                                            </a>
                                        </div>
                                         <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/5-1.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/5-1.jpg" alt="">
                                            </a>
                                        </div>
                                         <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/6-1.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/6-1.jpg" alt="">
                                            </a>
                                        </div>
                                         <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/7-1.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/7-1.jpg" alt="">
                                            </a>
                                        </div>
                                         <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/8-1.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/8-1.jpg" alt="">
                                            </a>
                                        </div>
                                         <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/9-1.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/9-1.jpg" alt="">
                                            </a>
                                        </div>
                                         <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/10-1.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/10-1.jpg" alt="">
                                            </a>
                                        </div>
                                         <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/11-1.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/11-1.jpg" alt="">
                                            </a>
                                        </div>
                                         <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/12-1.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/12-1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/13-1.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/13-1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/14-1.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/14-1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/15-1.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/15-1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/16-1.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/16-1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="bel-gallery-i">
                                            <a href="/wp-content/uploads/2021/11/17-1.jpg" data-fslightbox="gallery">
                                                <img src="/wp-content/uploads/2021/11/17-1.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                                <!-- # -->

                                <!-- # -->
                                <div class="bel-heading _light _gallery">
                                    <div class="bel-heading-w">
                                        <div class="bel-heading-i">

                                            <h2>CROCUS CITY HALL <br>
                                                19 декабря 2020</h2>

                                        </div>
                                    </div>
                                </div>
                                <div class="bel-gallery _video _alt">
                                    <div class="bel-gallery-w">

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/1-min.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/1-min.jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/2-min-1.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/2-min-1.jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/3-min-1.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/3-min-1.jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/4-min.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/4-min.jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/5-min.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/5-min.jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/6-min.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/6-min.jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/7-min.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/7-min.jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/8-min.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/8-min.jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/9-min.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/9-min.jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/10-min.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/10-min.jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/11-min.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/11-min.jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/12-min.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/12-min.jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/13-min.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/13-min.jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/14-min.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/14-min.jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/15-min.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/15-min.jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/16-min.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/16-min.jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/17-min.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/17-min.jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/18-min.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/18-min.jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/19-min.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/19-min.jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/20-min.jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/01/20-min.jpg" alt="">
                                            </a>
                                        </div>

                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                                <!-- # -->

                                 <!-- # -->
                                 <div class="bel-heading _light _gallery">
                                    <div class="bel-heading-w">
                                        <div class="bel-heading-i">

                                            <h2>БКЗ "ОКТЯБРЬСКИЙ" <br>
                                                14 ноября 2020</h2>

                                        </div>
                                    </div>
                                </div>
                                <div class="bel-gallery _video _alt">
                                    <div class="bel-gallery-w">

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(1).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(1).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(2).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(2).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(3).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(3).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(4).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(4).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(5).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(5).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(6).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(6).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(7).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(7).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(8).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(8).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(9).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(9).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(10).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(10).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(11).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(11).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(12).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(12).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(13).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(13).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(14).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(14).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(15).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(15).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(16).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(16).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(17).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(17).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(18).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(18).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(19).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(19).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(20).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/02/(20).jpg" alt="">
                                            </a>
                                        </div>

                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                                <!-- # -->

                                <!-- # -->
                                <div class="bel-heading _light _gallery">
                                    <div class="bel-heading-w">
                                        <div class="bel-heading-i">

                                            <h2>СЪЕМКИ КЛИПА
                                                "БЕЗМЯТЕЖНОСТЬ"</h2>

                                        </div>
                                    </div>
                                </div>
                                <div class="bel-gallery _video _alt">
                                    <div class="bel-gallery-w">

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/03/(1).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/03/(1).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/03/(2).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/03/(2).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/03/(3).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/03/(3).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/03/(4).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/03/(4).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/03/(5).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/03/(5).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/03/(6).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/03/(6).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/03/(7).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/03/(7).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/03/(8).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/03/(8).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/03/(9).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/03/(9).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/03/(10).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/03/(10).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/03/(11).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/03/(11).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/03/(12).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/03/(12).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/03/(13).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/03/(13).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/03/(14).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/03/(14).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/03/(15).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/03/(15).jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                                <!-- # -->

                                <!-- # -->
                                <div class="bel-heading _light _gallery">
                                    <div class="bel-heading-w">
                                        <div class="bel-heading-i">

                                            <h2>ФЕСТИВАЛЬ ФЕЙЕРВЕРКОВ</h2>

                                        </div>
                                    </div>
                                </div>
                                <div class="bel-gallery _video _alt">
                                    <div class="bel-gallery-w">

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/05/(1).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/05/(1).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/05/(2).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/05/(2).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/05/(3).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/05/(3).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/05/(4).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/05/(4).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/05/(5).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/05/(5).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/05/(6).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/05/(6).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/05/(7).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/05/(7).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/05/(8).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/05/(8).jpg" alt="">
                                            </a>
                                        </div>

                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                                <!-- # -->

                                 <!-- # -->
                                 <div class="bel-heading _light _gallery">
                                    <div class="bel-heading-w">
                                        <div class="bel-heading-i">

                                            <h2>РОЖДЕСТВЕНСКИЕ КОНЦЕРТЫ В ММДМ</h2>

                                        </div>
                                    </div>
                                </div>
                                <div class="bel-gallery _video _alt">
                                    <div class="bel-gallery-w">

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/06/(1).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/06/(1).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/06/(2).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/06/(2).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/06/(3).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/06/(3).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/06/(4).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/06/(4).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/06/(5).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/06/(5).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/06/(6).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/06/(6).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/06/(7).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/06/(7).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/06/(8).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/06/(8).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/06/(9).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/06/(9).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/06/(10).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/06/(10).jpg" alt="">
                                            </a>
                                        </div>

                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                                <!-- # -->

                                <!-- # -->
                                <div class="bel-heading _light _gallery">
                                    <div class="bel-heading-w">
                                        <div class="bel-heading-i">

                                            <h2>СЪЕМКИ КЛИПА <br>
                                                "ТАНГО"</h2>

                                        </div>
                                    </div>
                                </div>
                                <div class="bel-gallery _video _alt">
                                    <div class="bel-gallery-w">

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(1).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(1).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(2).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(2).jpg" alt="">
                                            </a>
                                        </div>


                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(3).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(3).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(4).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(4).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(5).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(5).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(6).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(6).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(7).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(7).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(8).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(8).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(9).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(9).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(10).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(10).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(11).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(11).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(12).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(12).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(13).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(13).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(14).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(14).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(15).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(15).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(16).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(16).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(17).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(17).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(18).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(18).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(19).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(19).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(20).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/07/(20).jpg" alt="">
                                            </a>
                                        </div>



                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                                <!-- # -->

                                <!-- # -->
                                <div class="bel-heading _light _gallery">
                                    <div class="bel-heading-w">
                                        <div class="bel-heading-i">

                                            <h2>СЪЁМКИ КЛИПА <br>
                                                "В ПЕЩЕРЕ ГОРНОГО КОРОЛЯ"</h2>

                                        </div>
                                    </div>
                                </div>
                                <div class="bel-gallery _video _alt">
                                    <div class="bel-gallery-w">

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/08/(1).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/08/(1).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/08/(2).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/08/(2).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/08/(3).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/08/(3).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/08/(4).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/08/(4).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/08/(5).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/08/(5).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/08/(6).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/08/(6).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/08/(7).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/08/(7).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/08/(8).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/08/(8).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/08/(9).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/08/(9).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/08/(10).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/08/(10).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/08/(11).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/08/(11).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/08/(12).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/08/(12).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/08/(13).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/08/(13).jpg" alt="">
                                            </a>
                                        </div>

                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                                <!-- # -->

                                <!-- # -->
                                <div class="bel-heading _light _gallery">
                                    <div class="bel-heading-w">
                                        <div class="bel-heading-i">

                                            <h2>БОЛЬШОЙ ЗАЛ КОНСЕРВАТОРИИ <br>
                                                5 октября 2019</h2>

                                        </div>
                                    </div>
                                </div>
                                <div class="bel-gallery _video _alt">
                                    <div class="bel-gallery-w">

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(1).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(1).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(2).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(2).jpg" alt="">
                                            </a>
                                        </div>


                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(3).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(3).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(4).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(4).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(5).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(5).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(6).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(6).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(7).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(7).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(8).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(8).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(9).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(9).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(10).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(10).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(11).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(11).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(12).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(12).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(13).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(13).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(14).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(14).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(15).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(15).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(16).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(16).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(17).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(17).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(18).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(18).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(19).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(19).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(20).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/09/(20).jpg" alt="">
                                            </a>
                                        </div>

                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                                <!-- # -->

                                 <!-- # -->
                                 <div class="bel-heading _light _gallery">
                                    <div class="bel-heading-w">
                                        <div class="bel-heading-i">

                                            <h2>КРЕМЛЬ <br>
                                                5 апреля 2019</h2>

                                        </div>
                                    </div>
                                </div>
                                <div class="bel-gallery _video _alt">
                                    <div class="bel-gallery-w">

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/10/(1).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/10/(1).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/10/(2).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/10/(2).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/10/(3).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/10/(3).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/10/(4).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/10/(4).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/10/(5).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/10/(5).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/10/(6).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/10/(6).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/10/(7).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/10/(7).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/10/(8).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/10/(8).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/10/(9).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/10/(9).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/10/(10).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/10/(10).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/10/(11).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/10/(11).jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="bel-gallery-i">
                                            <a href="{{ theme.uri }}/assets_2/dist/assets/image/gallery/10/(12).jpg" data-fslightbox="gallery">
                                                <img src="{{ theme.uri }}/assets_2/dist/assets/image/gallery/10/(12).jpg" alt="">
                                            </a>
                                        </div>

                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                                <!-- # -->



                            </div>
                        </div>
                        <div class="bel-bgimg _grayscale _dark"></div>
                    </section>
                </div>
            </div>

        </main>
{% endblock %}

